<!DOCTYPE html>
<html>
  <head>
    <script src='./node_modules/angular/angular.js'></script>
    <script src="./node_modules/jquery/dist/jquery.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <title>Salcrypt</title>
  </head>
  <body>

    <div class="container" ng-app="myApp" ng-controller="personCtrl">

    <img src="salcrypt-logo.png" alt="Salcrypt Logo" class="img-responsive center-block logo-gambar">
    <h3 class="text-center">Salcrypt</h3>


    <!-- ENCRYPTION -->
    <div class="center-block kotak">
      <span class="sub-title-text">Text:</span>
      <input class="css-input" type="text" ng-model="plainText"><br>
    </div>
    <br>

    <div class="row">
      <div class="col-xs-6">
        <button class="myButton" ng-click="subCypher(1)">Substitution Encrypt</button>
      </div>
      <div class="col-xs-6">
        <button  class="myButton"ng-click="subCypher(0)">Substitution Decrypt</button>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <button class="myButton" ng-click="blockCypher()">Block Encrypt</button>
      </div>
      <div class="col-xs-6">
        <button class="myButton" ng-click="blockDecypher()">Block Decrypt</button>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <button class="myButton" ng-click="permutationCypher()">Permutation Encrypt</button>
      </div>
      <div class="col-xs-6">
        <button class="myButton" ng-click="permutationDecypher()">Permutation Decrypt</button>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <button class="myButton" ng-click="expansionCypher()">Expansion Encrypt</button>
      </div>
      <div class="col-xs-6">
        <button class="myButton" ng-click="expansionDecypher()">Expansion Decrypt</button>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <button class="myButton" ng-click="compactionCypher()">Compaction Encrypt</button>
      </div>
      <div class="col-xs-6">
        <button class="myButton" ng-click="compactionDecypher()">Compaction Decrypt</button>
      </div>
    </div><br><br>

    <div class="center-block kotak">
      <span class="sub-title-text">Result:</span>
      <input class="css-input" type="text" ng-model="cypherText" readonly="true"><br>
    </div>

  </div>
  </body>

  <script>
  require('./renderer.js')
  </script>
</html>
