<!DOCTYPE html>
<html>
  <script src='./node_modules/angular/angular.js'></script>
  <body>

    <div ng-app="myApp" ng-controller="personCtrl">

    Plain Text: <input type="text" ng-model="plainText"><br>
    <br>

    {{cypherText}}
    <br>

    <button ng-click="subCypher(1)">Substitution Encrypt</button>
    <br>

    <button ng-click="subCypher(0)">Substitution Decrypt</button>
    <br>

    <button ng-click="blockCypher()">Substitution Decrypt</button>
    <br>

    <button ng-click="blockDecypher">Substitution Decrypt</button>
    <br>

    <button ng-click="permutationCypher()">Substitution Decrypt</button>
    <br>

    <button ng-click="permutationDecypher()">Substitution Decrypt</button>
    <br>

    <button ng-click="expansionCypher()">Substitution Decrypt</button>
    <br>

    <button ng-click="expansionDecypher()">Substitution Decrypt</button>
    <br>

    <button ng-click="compactionCypher()">Substitution Decrypt</button>
    <br>

    <button ng-click="compactionDecypher()">Substitution Decrypt</button>
    <br>


  </div>
  </body>

  <script>
  require('./renderer.js')
  </script>
</html>
